.customTitle {
  font-size: 17px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}
.span {
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  display: flex;

  justify-content: space-between;
}
.innerSpan {
  font-weight: bold;
}
.customContainer {
  width: 100%;
  display: flex;
  max-width: 450px;
  padding: 10px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}
.totalCustomCost {
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  font-size: 15px;
  font-weight: bold;
}
.engineTypeRadioWrapper {
  width: 85%;
  max-width: 260px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.engineTypeRadioWrapper > label {
  display: flex;
  align-items: center;
  /* width: 25%; */
  min-width: 90px;
  font-size: 20px;
  line-height: 30px;
}
.engineTypeRadioWrapper > label > input {
  width: 20px;
  margin: 0px 3px;
  height: 20px;
}
.selectWrapper {
  width: 100%;
}
.selectEngine {
  width: 30%;
  min-width: 160px;
}
@media (min-width: 480px) {
  .engineTypeRadioWrapper {
    width: 100%;
    min-width: 380px;
  }
}
