.phoneContainer {
  display: flex;
  max-width: 450px;
  margin: 10px auto 0px;
  justify-content: center;
  flex-wrap: wrap;
}
.phoneWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  height: 20px;
  max-width: 120px;
  margin: 10px;
}
.phoneSvg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}
.phoneLink {
  text-decoration: none;
  width: 100%;
  text-align: right;
  font-size: 14px;
  line-height: 20px;
}
.title {
  font-size: 30px;
  position: absolute;
  max-width: 450px;
  top: 60%;
  width: 80%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
}
.aboutBigNumber {
  font-size: 90px;
  font-family: sans-serif;
  color: #ffffff;
}
.aboutText {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}
.aboutWrapper {
  background-image: url(../../assets/img/jaguar_small.jpg);
}
.aboutWrapper2 {
  background-image: url(../../assets/img/audi.jpg);
}
.aboutWrapper,
.aboutWrapper2 {
  width: 100vw;

  min-height: 300px;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 450px;
  margin: 20px auto;
}
.aboutInnerWrapper {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 15px;
}
.causes,
.advantage {
  max-width: 450px;
  width: 100%;

  margin: 0px auto;
}
.causes {
  background-image: url(../../assets//img/7222.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.causesList {
  list-style: none;
  width: 100%;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

.listItem {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 15px auto 0px;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
  max-width: 320px;
  padding: 20px;
  border: 1px solid black;
  position: relative;
  border-top-width: 0px;
}
.listItem > p {
  margin: 15px auto;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1px;

  font-family: "Montserrat", sans-serif;
}
.listInnerItem {
  width: 100%;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: 0;
  z-index: -1;
}
.backgroundImg {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.backgroundShadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.headWrapper {
  width: 100%;
  min-height: 350px;
  position: relative;
  max-width: 450px;
  margin: -10px auto 0px;
}

.carousel {
  height: 100%;
}
.dots {
  background-color: #fff;
  width: 40px;
}
.causesIcon {
  width: 40px;
  height: 40px;

  margin-top: -42px;
}
.listItem::after {
  content: " ";
  border: 1px solid #ffffff;
  width: 120px;
  position: absolute;
  top: 0;
  right: 0;
}
.listItem::before {
  content: " ";
  border: 1px solid #ffffff;
  width: 110px;
  position: absolute;
  top: 0;
  left: 0;
}
.subtitle {
  font-size: 22px;
  margin: 0px auto 10px;
  color: #ffffff;
}
.listItem {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0px;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
  max-width: 320px;
  padding: 20px;
  border: 1px solid #ffffff;
  position: relative;
  border-top-width: 0px;
}
.outwrapper {
  padding-top: 20px;
  text-align: center;
}
.listItem:last-of-type {
  margin-top: 30px;
}
