.form {
  display: flex;
  margin: 10px auto;
  box-shadow: -8px 8px 13px 1px rgba(0, 0, 0, 0.43);
  max-width: 80%;
  border-radius: 10px;
  height: 80px;
  justify-content: center;
  align-items: center;
  outline: none;
  flex-wrap: wrap;
}
.input {
  height: 30px;
  border-radius: 30px;
  -moz-appearance: textfield;
  width: 150px;
  padding: 5px 10px;
  margin: 0px 10px;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.submitBtn {
  height: 30px;
  border-radius: 30px;
  margin: 0px 10px;
  background-color: #233682;
  width: 50px;
  border: none;
  color: #ffffff;
  outline: none;
}
.checkboxWrapper {
  width: 130px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.checkboxWrapper > label {
  font-size: 17px;
}
.checkboxWrapper > label > input {
  margin-right: 5px;
}
