.container {
  width: 100%;
  position: relative;
  background-color: #233682;
  height: 60px;
  border-radius: 10px;
  margin: -10px auto 10px;
  z-index: 200;
  max-width: 800px;
}
.logo {
  height: 50px;
  margin: 10px 10px 0px;
  transition: 2s;
  transform: rotateY(720deg);
}

@media (min-width: 1200px) {
  .container {
    height: 90px;
    max-width: 1400px;
  }
  .logo {
    height: 80px;
  }
}
