.container {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
}
.spoiler:first-of-type {
  margin-top: 0px;
}
.spoiler {
  min-height: 40px;
  height: auto;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  position: relative;

  transform: translateY(-4%);
  margin-top: 10px;
  background-color: #ffffff;
}
.spoiler > input {
  width: 100%;
  position: absolute;
  height: 100%;
  font-size: 15px;
  opacity: 0;
  z-index: 10;
}
.listInner {
  overflow: hidden;
  max-height: 0px;

  transition: 600ms ease-in-out;
  position: relative;
}
input:checked ~ .listInner {
  max-height: 300px;

  transition: 600ms ease-in-out;
}
.question {
  position: relative;
  width: 100%;
  display: block;
  height: 100%;
  padding-right: 45px;
}
.question::after {
  background: #233682;
  border-radius: 50%;
  content: "+";
  font-size: 31px;
  top: 50%;
  font-weight: bold;
  margin: 0px 10px;
  padding: 0;
  text-align: center;
  width: 36px;
  position: absolute;
  transform: translateY(-50%);
  transition: 600ms ease-in-out;
  z-index: 10;
  right: 0px;
  color: #ffffff;
}
input:checked ~ .question {
  margin-bottom: 15px;
  transition: 300ms;
}
input:checked ~ .question::after {
  transform: rotateZ(135deg);
  content: "+";
  top: 50%;
  transition: 600ms ease-in-out;
}
.wrapper {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  position: relative;
  background-image: url(../../assets/img/audi.png);
}
.shadowContainer {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 10px 5px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
