.container {
  display: flex;
  margin: 10px auto;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: column;
}

.title {
  font-size: 18px;
  align-self: center;
  text-align: center;
}
.image {
  width: 100%;
}
.outWrapper {
  width: 100%;
  /* border: 1px solid #656877; */
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: -8px 8px 13px 1px rgba(0, 0, 0, 0.43);
}
.carName {
  text-align: center;
}
