.container {
  display: flex;
  margin: 10px auto;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: column;
}
.outWrapper {
  width: 100%;
  /* border: 1px solid #656877; */
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: -8px 8px 13px 1px rgba(0, 0, 0, 0.43);
}
.wrapperPortSelector {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
.portSelector {
  width: 150px;
  height: 20px;
  font-size: 13px;
}
.portSelector > div {
  height: 20px;
}
